@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
form > div {
  margin: .5rem 0;
}
form div {
  position: relative;
}
form div > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
  transition: all 100ms linear;
}
form div > input:not([type=submit]) {
  width: 100%;
  border: 0;
  padding: 25px 20px 15px 35px;
  background: #eee;
}
form div > input:not([type=submit]):focus {
  outline: 1px rgb(24, 4, 207) solid;
  background:  #eeeeee80;
  }
form div > input:not([type=submit]):focus + label {
  font-size: 0.75rem;
  top: 5px;
  left: 5px;
}
form div > input:not([type=submit]):valid:not(:placeholder-shown) {
  background:  #eeeeee80 url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Google_Material_Design_check.svg/240px-Google_Material_Design_check.svg.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 28px;
  /* padding: 25px 20px 15px 50px; */
}
form div > input:not([type=submit]):valid:not(:placeholder-shown) + label {
  font-size: 0.75rem;
  top: 5px;
  left: 5px;
}
form div > input:not([type=submit]):invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
}
form div > input:not([type=submit]):invalid:not(:focus):not(:placeholder-shown) + label {
  font-size: 0.75rem;
  top: 5px;
  left: 5px;
}
form div > input:not([type=submit]).empty {
  background-color: white;
}
form div > input:not([type=submit]).invalid ~ .error {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}
form div > input:not([type=submit]):invalid:focus:not(:placeholder-shown) ~ .error {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}
form  div > .error {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-style: italic;
}
form input[type=submit] {
  display: block;
  width: 100%;
  margin: 20px 0;
  background: #41D873;
  color: white;
  border: 0;
  padding: 20px;
  font-size: 1.2rem;
}
